{% extends "base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
<!-- ie behaviour -->
<style type="text/css">img {behavior: url("{% admin_media_prefix %}css/pngbehavior.htc");}</style>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/supports.css" />
{% endblock extrastyle %}
{% block extrahead %}
<base href="{{ baselink }}" />
<script type="text/javascript" src="{% admin_media_prefix %}js/support.js"></script>
{% endblock extrahead %}

{% block breadcrumbs %}<div class="breadcrumbs">
    <a href="{% url dashboard.views.dashboard %}">{% trans "dashboard" %}</a> &gt; {{ breadcrumb }}
</div>{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
<ul class="messagelist">
    <li id="aide">{% trans "Click on the sections (sub)titles to show or hide their contents. Click on the chapter's title to show or hide the outline." %} <a href="javascript: openClose('aide',0)">{% trans "Hide this" %}</a></li>
</ul>
{{ support|safe }}
{% endblock content %}
