{% load i18n %}
<h3>{{ course.titre }}</h3>
{{ course.state }}
{% if course.is_open %}
{% if course.modules %}
<table class="tabcours">
<tr><th colspan="2">{% trans "Modules" %}</th></tr>
{% for module in course.modules %}
<tr><td>{{ module.titre }}</td><td>{{ module.state }}</td></tr>
{% endfor %}
<table>
{% endif %}
{% if course.assignments %}
<table class="tabcours">
<tr><th colspan="2">{% trans "Assignments" %}</th></tr>
{% for assignment in course.assignments %}
<tr><td>{{ assignement.titre }}</td><td>{{ assignement.state }}</td></tr>
{% endfor %}
<table>
{% endif %}
{% endif %}
