{% load i18n %}
<h3>{{ course.titre }}</h3>
<p>{{ course.state|safe }}</p>
{% with course.profs as profs %}
{% if profs %}
<p>{% trans "Professor" %}{{ profs|pluralize }} :
{% for prof in profs %}
<a href="mailto:{{ prof.email }}">{{ prof.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
{% endif %}
{% endwith %}
{% if course.is_open %}
{% for doc in course.autres_docs %}
<p><a href="{{ doc.get_absolute_url }}"><strong>{{ doc.titre }}</strong></a><p>
{% endfor %}
{% if course.modules %}
<table class="tabcours" width="95%">
<thead>
    <tr><th width="40%">{% trans "Modules" %}</th><th width="12%">{% trans "Contents" %}</th><th width="25%">{% trans "Tests" %}</th><th>{% trans "Best score" %}</th><th style="text-align: center;">{% trans "# tries" %}</th></tr>
</thead>
<tfoot></tfoot>
<tbody>
{% for module in course.modules %}
<tr class="{% cycle odd,even %}">
    <td>{{ module.titre }}{% if module.is_valide %}<br />{% trans "Completed on" %} {{ module.is_valide|date:"d/m/Y" }}{% endif %}</td>
    <td>{% for content in module.contents %}
        <a href="{{ content.get_absolute_url }}" title="{{ content.titre }}">{{ content.long_type|capfirst }}</a>{% if not forloop.last %}<br />{% endif %}{% endfor %}
    </td>
    <td>{% for test in module.tests %}
        <a href="{{ test.get_absolute_url }}" {% if test.date_validation %}class="valide"{% endif %}>{{ test.titre }}</a>{% if not forloop.last %}<br />{% endif %}{% endfor %}
    </td>
    <td>{% for test in module.tests %}
        {{ test.str_best_score }} - {{ test.best_score_date|date:"d/m/Y" }}{% if not forloop.last %}<br />{% endif %}
    {% endfor %}</td>
    <td style="text-align: center;">{% for test in module.tests %}
        {{ test.nb_tries }}{% if not forloop.last %}<br />{% endif %}
    {% endfor %}</td>
</tr>
{% endfor %}
</tbody>
<table>
{% endif %}
{% if course.assignments %}
<table class="tabcours" width="95%">
	<tr><th width="40%">{% trans "Assignments" %}</th><th>{% trans "Uploaded on" %}</th><th>{% trans "Signature" %}</th></tr>
{% for assignment in course.assignments %}
{% if assignment.date_remise %}
<tr><td>{{ assignment.titre }}</td><td>{{ assignment.date_remise }}</td><td>{{ assignment.signature }}</td></tr>
{% else %}
<tr><td><a href="{{ assignment.work.get_absolute_url }}">{{ assignment.titre }}</a></td><td></td><td></td></tr>
{% endif %}
{% endfor %}
<table>
{% endif %}
{% endif %}
