{% extends "base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
{% endblock extrastyle %}

{% block breadcrumbs %}<div class="breadcrumbs">
    {% trans "Dashboard" %} {{ breadcrumb }}
</div>{% endblock %}

{% block content %}
{% include "dashboard/calendar.html" %}
<p>{% trans "Your group is" %} {{ user.groupe.nom }}</p>
{% if user.groupe.administrateur %}
<p>{% trans "This group is managed by" %} <a href="mailto:{{ user.groupe.administrateur.email }}">{{ user.groupe.administrateur.get_full_name }}</a></p>
{% endif %}
<h2>{% trans "Your planning for the" %} {{ planning.weeks }} {% trans "next weeks" %}</h2>
<ul>
{% for event in planning.events %}
<li>{{ event.date|date:"d/m/y H:i" }} {{event.event }}</li>
{% empty %}
<li>{% trans "Nothing special so far !" %}</li>
{% endfor %}
</ul>
<p><a class="button" href="https://sas.elluminate.com/d.jnlp?sid=vclass&password=QR25I54KC4PRB2ASNC9D"><strong>{% trans "Link to the virtual classroom" %}</strong></a></p>
{% if docs %}
<h2>{% trans "Documents to download" %}</h2>
{% for doc in docs %}
<p><a href="{{ doc.get_absolute_url }}"><strong>{{ doc.titre }}</strong></a><p>
{% endfor %}
{% endif %}
<h2>{% trans "Current work" %}</h2>
<a href="{% url learning.views.tabcours %}">{% trans "See complete courses list" %}</a>
{% include "learning/tab_cours.html" %}
{% endblock content %}

