{% extends "base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/dashboard.css" />
{% endblock extrastyle %}

{% block breadcrumbs %}<div class="breadcrumbs">
    {% trans "Dashboard" %} {{ breadcrumb }}
</div>{% endblock %}

{% block content %}
{% include "dashboard/calendar.html" %}
<p>{% trans "Your group is" %} {{ user.groupe.nom }}</p>
{% if user.groupe.administrateur %}
<p>{% trans "This group is managed by" %} <a href="mailto:{{ user.groupe.administrateur.email }}">{{ user.groupe.administrateur.get_full_name }}</a></p>
{% endif %}
<h2>{% trans "Your planning for the" %} {{ planning.weeks }} {% trans "next weeks" %}</h2>
<ul>
{% for event in planning.events %}
<li>{{ event.date|date:"d/m/y" }} {{event.event }}</li>
{% empty %}
<li>{% trans "Nothing special so far !" %}</li>
{% endfor %}
</ul>
<h2>{% trans "Current work" %}</h2>
<a href="{% url learning.views.tabcours %}">{% trans "See complete courses list" %}</a>
{% include "learning/tab_cours.html" %}
{% endblock content %}

