{% extends "base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
{% endblock extrastyle %}

{% block breadcrumbs %}<div class="breadcrumbs">
    {% trans "Dashboard" %} {{ breadcrumb }}
</div>{% endblock %}

{% block content %}
{% include "dashboard/calendar.html" %}
<p>{% trans "Your group is" %} {{ user.groupe.nom }}</p>
{% if user.groupe.administrateur %}
<p>{% trans "This group is managed by" %} <a href="mailto:{{ user.groupe.administrateur.email }}">{{ user.groupe.administrateur.get_full_name }}</a></p>
{% endif %}
<h2>{% trans "Your planning for the" %} {{ planning.weeks }} {% trans "next weeks" %}</h2>
<ul>
{% for event in planning.events %}
<li>{{ event.date|date:"d/m/y H:i" }} {{event.event }}</li>
{% empty %}
<li>{% trans "Nothing special so far !" %}</li>
{% endfor %}
</ul>
<p><a class="button" href="https://sas.elluminate.com/d.jnlp?sid=vclass&password=QR25I54KC4PRB2ASNC9D"><strong>{% trans "Link to the virtual classroom" %}</strong></a></p>
{% if exams %}
<h2>{% trans "Exams" %}</h2>
<table class="tabcours" width="95%">
<thead>
    <tr><th width="40%">{% trans "Exam" %}</th><th style="text-align: center;">{% trans "Opened on" %}</th><th style="text-align: center;">{% trans "Closed on" %}</th><th style="text-align: center;">{% trans "Score" %}</th></tr>
</thead>
<tfoot></tfoot>
<tbody>
{% for exam in exams %}
<tr class="{% cycle odd,even %}">
    <td>
        {% if exam.is_open %}
        <a href="{{ exam.cas.get_absolute_url }}">{{ exam.titre }}</a>
        {% else %}
        {{ exam.titre }}
        {% endif %}
    </td>
    <td style="text-align: center;">{{ exam.debut|date:"d/m/Y" }}</td>
    <td style="text-align: center;">{{ exam.fin|date:"d/m/Y" }}</td>
    <td style="text-align: center;">
        {% if exam.score %}
        {{ exam.score }} %
        {% else %}
        &nbsp;
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if docs %}
<h2>{% trans "Documents to download" %}</h2>
{% for doc in docs %}
<p><a href="{{ doc.get_absolute_url }}"><strong>{{ doc.titre }}</strong></a><p>
{% endfor %}
{% endif %}
<h2>{% trans "Current work" %}</h2>
<a href="{% url learning.views.tabcours %}">{% trans "See complete courses list" %}</a>
{% include "learning/tab_cours.html" %}
{% endblock content %}

