{% extends "base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs">
	<a href="{% url dashboard.views.dashboard %}">{% trans "dashboard" %}</a> &gt; {{ groupe.nom }}
</div>{% endblock %}

{% block content %}
<h2>{{ groupe.nom }}</h2>
{%if groupe.workdone %}
<p>{% trans "Download works from this group:" %}</p>
<ul>
{% for work in groupe.workdone %}
<li class="nop"><a href="{{ media_url }}{{ wordone }}/{{ work }}">{{ work }}</a></li>
{% endfor %}
</ul>
{% endif %}
<table>
    <thead>
        <tr><th rowspan="2">{% trans "Name" %}</th><th rowspan="2">{% trans "Email" %}</th><th rowspan="2">{% trans "Last login" %}</th><th style="text-align:center;">{% trans "Completed <br />courses" %}<th style="text-align:center;">{% trans "Uploaded<br />works" %}</th><th style="text-align:center;" colspan="2">{% trans "Current course" %}</th><th rowspan="2">{% trans "Problems" %}</th></tr>
            <tr><th style="text-align:center;">/ {{ groupe.nb_cours }}</th><th style="text-align:center;">/ {{ groupe.nb_works }}</th><th style="text-align:center;">{% trans "Title" %}</th><th>{% trans "Validated modules" %}</th></tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
	{% for user in groupe.users %}
    <tr><td>{{ user.get_full_name }}</td><td><a href="{{ user.get_absolute_url }}">{{ user.email }}</a></td><td>{{ user.last_login }}</td>
        <td style="text-align: center;">{{ user.nb_cours_valides }}</td>
        <td style="text-align: center;">{{ user.nb_travaux_rendus }}</td>
        <td style="text-align: center;">{{ user.cours_courant.titre }}</td>
        <td style="text-align: center;">{{ user.nb_modules_valides_in_current }} / {{ user.nb_modules_in_current }}</td>
        <td>{% for problem in user.problemsb %}{{ problem }}{% if not forloop.last %}<br />{% endif %}{% endfor %}</td></tr>
	{% empty %}
	<tr><td colspan="5">{% trans "This group is empty." %}</td></tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}

