{% extends "base_site.html" %}
{% load i18n %}
{% load adminmedia %}

{% block extrahead %}
<script type="text/javascript" src="/static/media/js/jquery-1.1.3.1.pack.js"></script>
<script type="text/javascript" src="/static/media/js/jquery.tablesorter.js"></script>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs">
	<a href="{% url dashboard.views.dashboard %}">{% trans "Dashboard" %}</a> &gt; {{ groupe.nom }}
</div>{% endblock %}

{% block content %}

<div class="actions">
    {% for action in actions %}
    <p><a href="{{ action.url }}">{{ action.libel }}</a></p>
    {% endfor %}
</div>

{%if groupe.workdone %}
<p>{% trans "Download works from this group:" %}</p>
<ul>
{% for work in groupe.workdone %}
<li class="nop"><a href="{{ media_url }}{{ workdone }}/{{ work }}">{{ work }}</a></li>
{% endfor %}
</ul>
{% endif %}
<form action="" method="post">
	<label>
		{% trans "Filter (Current course - # validated modules):" %}
		<select name="filter">
			{% for filter in filters %}
			<option value="{{ filter.query }}"{% if filter.selected %} selected="selected"{% endif %}>
				{{ filter.titre }}
			</option>
			{% endfor %}
		</select>
		<input type="submit" value="Ok" />
	</label>
</form>
<script type="text/javascript">
    $(document).ready(function() {
			$("#lista").tablesorter({
				widgets: ['zebra']
			});
		var c = [[2,0],[5,0],[1,0]];
        $("#lista").trigger("sorton",[c]);
        return false;
})
</script>
<table id="lista" class="tabcours" width="100%">
    <thead>
		<tr>
            <th>{% trans "Name" %}</th>
            <th style="text-align: center;">{% trans "Last login" %}</th>
            <th style="text-align:center;">
                {% trans "Completed <br />courses" %} / {{ groupe.nb_cours }}
            </th>
            <th style="text-align:center;">
                {% trans "Uploaded<br />works" %}
                / {{ groupe.nb_works }}
            </th>
            <!--
            <th style="text-align:center;">
                {% trans "Exams<br />attempts" %}
                / {{ groupe.nb_exams }}
            </th>
            -->
            <th style="text-align:center;">{% trans "Current course" %}</th>
            <th style="text-align:center;">
                {% trans "Validated modules<br />in current course" %}
            </th>
            <th style="text-align:center;">{% trans "State" %}</th>
        </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
	{% for student in groupe.users %}
    <tr>
		<td>
			<a href="{{ student.get_absolute_url }}"
				title="{{ student.email }}">{{ student.get_name }}</a>
		</td>
        <td style="text-align: center;">{{ student.last_login|date:"Y/m/d" }}</td>
        <td style="text-align: center;">{{ student.nb_cours_valides }}</td>
        <td style="text-align: center;">{{ student.nb_travaux_rendus }}</td>
        <!--
        <td style="text-align: center;">{{ student.nb_exams_tentes }}</td>
        -->
		<td style="text-align: center;">{{ student.cours_courant.titre }}</td>
        <td style="text-align: center;">
            {{ student.nb_modules_valides_in_current }}
            / {{ student.nb_modules_in_current }}
        </td>
        <td style="text-align: center;">
            <img src="{% admin_media_prefix %}img/admin/{% if student.state %}icon-no.gif{% else %}icon-yes.gif{% endif %}" 
            alt="{{ student.state }}" />
        </td>
    </tr>
	{% empty %}
	<tr><td colspan="8">{% trans "This group is empty." %}</td></tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}

