{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/media/css/forms.css" />
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs">
    <a href="{% url dashboard.views.dashboard %}">{% trans "Dashboard" %}</a> &gt; <a href="{{ groupe.get_absolute_url }}">{{ groupe.nom }}</a> &gt;{% if utilisateur %} <a href="{{ utilisateur.get_absolute_url }}">{{ utilisateur.get_full_name }}</a> &gt;{% endif %} {% trans "Send an email" %}
</div>{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
{% include "coaching/mailform.html" %}
<input type="submit" value="{% trans "Send" %}" />
</form>
{% endblock content %}

