{% load i18n %}
<h3>{{ course.titre }}</h3>
<p>{{ course.state|safe }}</p>
{% if course.is_open %}
{% if course.modules %}
<table class="tabcours" width="95%">
<thead>
    <tr>
        <th width="45%">{% trans "Modules" %}</th>
        <th width="32%">{% trans "Tests" %}</th>
        <th>{% trans "Best score" %}</th>
        <th style="text-align: center;">{% trans "# tries" %}</th>
    </tr>
</thead>
<tfoot></tfoot>
<tbody>
{% for module in course.modules %}
<tr class="{% cycle odd,even %}">
    <td>{% if module.date_validation %}
        <span style="color: #079;">{{ module.titre }}
        <span style="font-size: smaller;">({% trans "Completed on" %} 
            {{ module.date_validation|date:"d/m/Y" }})</span></span>
        {% else %}
        {{ module.titre }}
        {% endif %}
    </td>
    <td>{% for test in module.tests %}
        {{ test.titre }}
        {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
    </td>
    <td>{% for test in module.tests %}
        {% if test.date_validation %}
            <span style="color: #079;">
            {{ test.str_best_score }} - {{ test.best_score_date|date:"d/m/Y" }}
            </span>
        {% else %}
            {{ test.str_best_score }} - {{ test.best_score_date|date:"d/m/Y" }}
        {% endif %}
        {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
    </td>
    <td style="text-align: center;">
        {% for test in module.tests %}
        {{ test.nb_tries }}{% if not forloop.last %}<br />{% endif %}
        {% endfor %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% if course.assignments %}
<table class="tabcours" width="95%">
    <tr>
        <th width="45%">{% trans "Assignments" %}</th>
        <th>{% trans "Uploaded on" %}</th>
        <th>{% trans "Signature" %}</th>
    </tr>
{% for assignment in course.assignments %}
{% if assignment.date_remise %}
<tr>
    <td><a href="{{ assignment.url }}">{{ assignment.titre }}</a></td>
    <td>{{ assignment.date_remise }}</td>
    <td>{{ assignment.signature }}</td>
</tr>
{% else %}
<tr>
    <td>{{ assignment.titre }}</td>
    <td></td>
    <td></td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endif %}
{% endif %}
