{% extends "base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{% load adminmedia %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/dashboard.css" />
{% endblock extrastyle %}

{% block breadcrumbs %}<div class="breadcrumbs">
    <a href="{% url apps.dashboard.views.dashboard %}">{% trans "Dashboard" %}</a> &gt; <a href="{{ student.user.groupe.get_absolute_url }}">{{ student.user.groupe.nom }}</a> &gt; {{ student.get_full_name }}
</div>{% endblock %}

{% block content %}

<div class="colorbox">
<p>{{ student.email }}</p>
{% if student.nb_cours_en_retard %}
<p class="red">{% trans "This student is currently late." %}</p>
{% endif %}
{% if student.is_inactif %}
<p class="red">{% trans "This user account is currently not active." %}</p>
{% endif %}
{% if student.fermeture_prochaine %}
<p class="red">{% trans "This user account will close on" %} {{ student.user.fermeture }}.</p>
{% endif %}
<p>{% trans "Last login:" %} <span class="bold">{{ student.last_login }}</span></p>
{% if student.nb_cours_valides %}
<p>{% trans "Completed courses:" %} <span class="bold">{{ student.nb_cours_valides }} / {{ student.nb_cours }} {% if student.nb_cours_valides_en_retard %}</span> ({{ student.nb_cours_valides_en_retard }} {% trans "completed late" %}){% endif %}</p>
{% else %}
<p>{% trans "No courses completed so far." %}</p>
{% endif %}
<p>{% trans "Uploaded assignments:" %} <span class="bold">{{ student.nb_travaux_rendus }} / {{ student.nb_travaux }}</span> {% if student.nb_travaux_rendus %}(<a href="{{ media_url }}{{ workdone }}/{{ student.workdone }}">{% trans "download all assignments" %}</a>){% endif %}</p>
<p>{% trans "Currently working on" %} <span class="bold">{{ student.cours_courant.titre }}</span> (<span class="bold">{{ student.nb_modules_valides_in_current }}/{{ student.nb_modules_in_current }}</span> {% trans "completed modules" %})</p>
</div>

<div class="actions">
    {% for action in actions %}
    <p><a href="{{ action.url }}">{{ action.libel }}</a></p>
    {% endfor %}
</div>

{% if exams %}
<h2>{% trans "Exams" %}</h2>
<table class="tabcours" width="95%">
<thead>
    <tr><th width="40%">{% trans "Exam" %}</th><th style="text-align: center;">{% trans "Opened on" %}</th><th style="text-align: center;">{% trans "Closed on" %}</th><th style="text-align: center;">{% trans "Score" %}</th></tr>
</thead>
<tfoot></tfoot>
<tbody>
{% for exam in exams %}
<tr class="{% cycle odd,even %}">
    <td>
        {% if exam.is_open %}
        <a href="{{ exam.cas.get_absolute_url }}">{{ exam.titre }}</a>
        {% else %}
        {{ exam.titre }}
        {% endif %}
    </td>
    <td style="text-align: center;">{{ exam.debut|date:"d/m/Y" }}</td>
    <td style="text-align: center;">{{ exam.fin|date:"d/m/Y" }}</td>
    <td style="text-align: center;">
        {% if exam.score %}
        {{ exam.score }} %
        {% else %}
        &nbsp;
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<h2>{% trans "Completed courses details" %}</h2>
{% for course in student.cours %}
{% include "coaching/tab_cours.html" %}
{% empty %}
{% trans "This student is not subscribed to any course" %}
{% endfor %}
{% endblock content %}

